<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      E-Commercial
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="goCart()">
        <ion-icon slot="icon-only" name="cart-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid fixed>
    <ion-row>
      <ion-col size="12">
        <ion-item class="category">
          <ion-label>Category</ion-label>
          <ion-select [value]="selectedCategory" (ionChange)="onCategoryChange($event)">
            <ion-select-option *ngFor="let category of categories" [value]="category">{{ category }}</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="6" size-md="3" *ngFor="let item of contentProducts; let i = index">
        <app-card (doClick)="Navigate($event)" [title]="item.title" [price]="item.price" [description]="item.category"
          [image]="item.image" [id]="item.id"></app-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>